.contenedorDetail {
    background-color: rgba(128, 128, 128, 0.486);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.imgconteiner {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}


.IdH4 {
    position: relative;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 1;
    color: white;
}

.imgconteiner img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    outline: 1px solid #ffffff9f;
    box-shadow: 3px 14px 30px 1px #000;
    filter: contrast(130%);
}

.title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px;
    color: whitesmoke;
    font-size: 44px;
}